﻿<div id="categories" class="col-xs-6 col-md-6">
    <div contenteditable="true" id="textar" style="font-size:16px; border:1px solid #000; width:700px; height:800px; margin-left:10%; padding:10px;">
    </div>
    <p id="field" style="margin-top:30px; margin-bottom:30px; margin-left:10%;"></p>
    <div class="form-group">
        <input id="btn" type="button" value="Run" class="btn btn-primary" style="margin-left:10%; width:80px;">
    </div>
</div>

<div class="col-xs-6">
    <table class="table" id="users">
    </table>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function (e) {
            $("#btn").bind("click", btnClick);
            RefreshTable();
        });

        function btnClick() {
            $("#btn").val("Wait...");
            var words = $("#textar").text().split(" ");
            $.ajax({
                url: '/api/act/',
                type: 'POST',
                data: JSON.stringify(words),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    RefreshTable();
                    $("#textar").attr("contenteditable", "false");
                    $("#textar").text("");
                    for (i in data) {
                        if ((data[i].English == null) && (data[i].Spanish == null) && (data[i].Portuguese == null) && (data[i].Russian == null) && (data[i].Bulgarian == null)) {
                            $("#textar").append(' <div id=tool class=tooltipStyle>' + data[i].Word + '<span class=tooltiptextStyle>The word is less than four characters</span></div> ');
                        }
                        else {
                            var flag = false;
                            var elements = ' <div id=tool class=tooltipStyle>' + data[i].Word + '<span class=tooltiptextStyle>' +
                                '<table class="table"><tr><th class="text-center"  style="border-top-style:none;">';
                            if ((data[i].English != "") && ((data[i].Spanish != "") || (data[i].Portuguese != "") || (data[i].Russian != "") || (data[i].Bulgarian != "")))
                                elements = elements + 'English:  ' + data[i].English + '%</th></tr><tr><th class="text-center">';
                            else if (data[i].English != "")
                                elements = elements + 'English:  ' + data[i].English + '%</th></tr>';
                            if ((data[i].Spanish != "") && ((data[i].Portuguese != "") || (data[i].Russian != "") || (data[i].Bulgarian != "")))
                                elements = elements + 'Spanish:  ' + data[i].Spanish + '%</th></tr><tr><th class="text-center">';
                            else if (data[i].Spanish != "")
                                elements = elements + 'Spanish:  ' + data[i].Spanish + '%</th></tr>';
                            if ((data[i].Portuguese != "") && ((data[i].Russian != "") || (data[i].Bulgarian != "")))
                                elements = elements + 'Portuguese:  ' + data[i].Portuguese + '%</th></tr><tr><th class="text-center">';
                            else if (data[i].Portuguese != "")
                                elements = elements + 'Portuguese:  ' + data[i].Portuguese + '%</th></tr>';
                            if ((data[i].Russian != "") && (data[i].Bulgarian != ""))
                                elements = elements + 'Russian:  ' + data[i].Russian + '%</th></tr><tr><th class="text-center">';
                            else if (data[i].Russian != "")
                                elements = elements + 'Russian:  ' + data[i].Russian + '%</th></tr>';
                            if (data[i].Bulgarian != "")
                                elements = elements + 'Bulgarian:  ' + data[i].Bulgarian + '%</th></tr>';
                            elements = elements + '</th></tr></table></span></div> '
                            $("#textar").append(elements);
                        }
                    }
                    $("#btn").val("Clear");
                    $("#btn").unbind("click").bind("click", btnClear);
                },
                error: function (jxqr, error, status) {
                    if (status == "Unauthorized") {
                        window.location.href = "http://localhost:32176/Home/Index";
                    }
                }
            });
        }

        function btnClear() {
            $("#btn").val("Run").unbind("click").bind("click", btnClick);
            $("#textar").text("");
            $("#textar").attr("contenteditable", "true"); 
        }

        function RefreshTable() {
            $("#users").empty();
            $.ajax({
                url: '/api/act/',
                type: 'GET',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $("#users").append('<tr><th class="text-center" style="vertical-align:middle;">User login</th><th class="text-center" style="width:100px;">Request count</th><th class="text-center" style="vertical-align:middle;">The last login date' +
                                       '</th><th class="text-center" style="width:200px;">Average time between requests (minutes)</th></tr>');
                    for (var i in data) {
                        $("#users").append(
                                    '<tr><th  style="font-weight:normal;"  id=values class="text-center">' + data[i].Login +
                                    '</th><th  style="font-weight:normal;" id=values class="text-center">' + data[i].ReqCount +
                                    '</th><th style="font-weight:normal;" id=values class="text-center">' + data[i].Date +
                                    '</th><th style="font-weight:normal;" id=values class="text-center">' + data[i].AverTime + '</th></tr>');
                    }
                },
                error: function (jxqr, error, status) {
                    if (status == "Unauthorized") {
                        window.location.href = "http://localhost:32176/Home/Index";
                    }
                }
            });
        }
    </script>
}
