﻿<div class="panel-body">
    <p class="lead text-center" id="title">Gain access to the site:</p>
    <div id="body" class="auth-form-group">
        <label>Login:</label>
        <input id="Login" type="text" class="auth-form-control">
        <div id="errorLogin" class="p-auth" style="color:red;"></div>

        <label>Password:</label>
        <input id="Password" type="password" class="auth-form-control">
        <div id="errorPassword" class="p-auth" style="color:red;"></div>
    </div>
    <div class="auth-btn-form-group">
        <button id="submit" class="auth-btn btn-primary"> Submit </button>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#submit").bind("click", AuthUser)
        });

        function AuthUser() {
            var login = $('#Login').val();
            var password = $('#Password').val();
            $.ajax({
                url: '/api/auth?num1=' + login + "&num2=" + password,
                type: 'GET',
                contentType: "application/json;charset=utf-8",
                success: function (data, status) {
                    $('#errorLogin').empty(); $('#errorPassword').empty();
                    window.location.href = "http://localhost:32176/Main/Index";
                },
                error: function (jxqr, error, status) {
                    var response = jQuery.parseJSON(jxqr.responseText);
                    $('#errorLogin').empty(); $('#errorPassword').empty();
                    if (response['Message'] == "User not found") {
                        $('#errorLogin').empty(); $('#errorPassword').empty();

                        RegForm();
                    }
                    if (response['Message'] == "Password is not valid") {
                        $('#errorLogin').empty(); $('#errorPassword').empty();

                        $('#errorPassword').append("<p>" + response['Message'] + "</p>");
                    }
                    else {
                        Validation(jxqr, error, status);
                    } 
                }
            });
        }

        function RegForm() {
            var newElems = $("<label>Confirm password:</label>" +
                             "<input id='cPassword' type='password' class='auth-form-control'>" +
                             "<div id='errorCPassword' class='p-auth' style='color:red;'></div>" +
                             "<label>Email:</label>" +
                             "<input id='Email' type='text' class='auth-form-control'>" +
                             "<div id='errorEmail' class='p-auth' style='color:red;'></div>" +
                             "<label>Company:</label>" +
                             "<input id='Company' type='text' class='auth-form-control'>" +
                             "<div id='errorCompany' class='p-auth' style='color:red;'></div>" +
                             "<label>Role:</label>" +
                             "<input id='Role' type='text' class='auth-form-control'>" +
                             "<div id='errorRole' class='p-auth' style='color:red;'></div>");
            $('#body').append(newElems);
            $("#title").text("There isn't a user with this login. You can create a new account:");
            $("#submit").unbind("click");
            $("#submit").bind("click", RegUser);
        }

        function RegUser() {
            var cPassword = $('#cPassword').val();
            var user = {
                Login: $('#Login').val(),
                Password: $('#Password').val(),
                CPassword: $('#cPassword').val(),
                Email: $('#Email').val(),
                Company: $('#Company').val(),
                Role: $('#Role').val()
            };
            $.ajax({
                url: '/api/auth/',
                type: 'POST',
                data: JSON.stringify(user),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $('#errorLogin').empty(); $('#errorPassword').empty(); $('#errorCPassword').empty(); $('#errorEmail').empty(); $('#errorCompany').empty(); $('#errorRole').empty();
                    window.location.href = "http://localhost:32176/Main/Index";
                },
                error: function (jxqr, error, status) {
                    $('#errorLogin').empty(); $('#errorPassword').empty(); $('#errorCPassword').empty(); $('#errorEmail').empty(); $('#errorCompany').empty(); $('#errorRole').empty();
                    Validation(jxqr, error, status);
                }
            });
        }

        function Validation(jxqr, error, status) {
            var response = jQuery.parseJSON(jxqr.responseText);
            if (response['ModelState']['user.Login']) {

                $.each(response['ModelState']['user.Login'], function (index, item) {
                    $('#errorLogin').append("<p>" + item + "</p>");
                });
            }
            if (response['ModelState']['user.Password']) {

                $.each(response['ModelState']['user.Password'], function (index, item) {
                    $('#errorPassword').append("<p>" + item + "</p>");
                });
            }
            if (response['ModelState']['user.CPassword']) {

                $.each(response['ModelState']['user.CPassword'], function (index, item) {
                    $('#errorCPassword').append("<p>" + item + "</p>");
                });
            }
            if (response['ModelState']['user.Email']) {

                $.each(response['ModelState']['user.Email'], function (index, item) {
                    $('#errorEmail').append("<p>" + item + "</p>");
                });
            }
            if (response['ModelState']['user.Company']) {

                $.each(response['ModelState']['user.Company'], function (index, item) {
                    $('#errorCompany').append("<p>" + item + "</p>");
                });
            }
            if (response['ModelState']['user.Role']) {

                $.each(response['ModelState']['user.Role'], function (index, item) {
                    $('#errorRole').append("<p>" + item + "</p>");
                });
            }
        }

    </script>
}
