﻿.tooltipStyle {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipStyle .tooltiptextStyle {
    visibility: hidden;
    width: 190px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border: 1px solid #000;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%; 
    margin-left: -95px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltipStyle .tooltiptextStyle::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555  transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipStyle:hover .tooltiptextStyle {
    visibility: visible;
    opacity: 1;
}